/* 1FTV VIP Hello Roti Font Family - Mobile-optimized with WOFF2/WOFF/OTF */

@font-face {
    font-family: '1FTV VIP Hello Roti';
    /* User requested OTF first; includes all available formats for maximum compatibility */
    src: url('./1FTV-VIP-Hello-Roti.otf') format('opentype'),
         url('./subset-1FTVVIPHelloRoti.woff2') format('woff2'),
         url('./subset-1FTVVIPHelloRoti.woff') format('woff'),
         url('./subset-1FTVVIPHelloRoti.ttf') format('truetype'),
         url('./subset-1FTVVIPHelloRoti.eot?#iefix') format('embedded-opentype'),
         url('./subset-1FTVVIPHelloRoti.svg#1FTVVIPHelloRoti') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}