/* FZ Poppins Font Family - Mobile-optimized with WOFF2/WOFF */

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-thin.woff2') format('woff2'),
         url('../fz_poppins-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-thinitalic.woff2') format('woff2'),
         url('../fz_poppins-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-extralightitalic.woff2') format('woff2'),
         url('../fz_poppins-extralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-extralightitalic.woff2') format('woff2'),
         url('../fz_poppins-extralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-light.woff2') format('woff2'),
         url('../fz_poppins-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-lightitalic.woff2') format('woff2'),
         url('../fz_poppins-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-regular.woff2') format('woff2'),
         url('../fz_poppins-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-italic.woff2') format('woff2'),
         url('../fz_poppins-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-medium.woff2') format('woff2'),
         url('../fz_poppins-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-mediumitalic.woff2') format('woff2'),
         url('../fz_poppins-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-semibold.woff2') format('woff2'),
         url('../fz_poppins-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-semibolditalic.woff2') format('woff2'),
         url('../fz_poppins-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-bold.woff2') format('woff2'),
         url('../fz_poppins-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-bolditalic.woff2') format('woff2'),
         url('../fz_poppins-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-extrabolditalic.woff2') format('woff2'),
         url('../fz_poppins-extrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-extrabolditalic.woff2') format('woff2'),
         url('../fz_poppins-extrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-black.woff2') format('woff2'),
         url('../fz_poppins-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('../fz_poppins-blackitalic.woff2') format('woff2'),
         url('../fz_poppins-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
